.catalog {
  display: grid;
  justify-content: center;
  gap: 50px $row-gap;
  grid-template-columns: repeat(4, $card-size);

  @media (max-width: ($card-size + $row-gap) * 4) {
    & {
      grid-template-columns: repeat(auto-fit, $card-size);
    }
  }
}
