$moyo-color: #00acdc;
$roboto-font: "Roboto", sans-serif;

@mixin star-size {
  width: 15px;
  height: 15px;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin font-normal-size {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

@mixin font-big-size {
  font-size: 14px;
  font-weight: bold;
}

@mixin font-size-12-500 {
  font-size: 12px;
  font-weight: 500;
}
